.img-custom {
    max-height: 500px; /* Adjust based on your preference */
    width: 100%;
    object-fit: contain; /* Ensures the whole image is visible */
}


.feature-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}
.feature-img {
    width: 100%;  /* Makes image responsive */
    height: auto; /* Keeps aspect ratio */
    display: block;
    margin: auto;
}

.feature-text {
    padding: 20px;
}

.custom-round-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-adjust {
    padding-left: 70px;
}
.carousel-item active{
    width: 100%;
    height: auto;

}